<div class="Index"
  v-show="db.config.inited">

  <NavigationBar 
    ref="NavigationBar"
    :db="db">
  </NavigationBar>

  <FileController 
    ref="FileController"
    :db="db">
  </FileController>

  <FileList 
    ref="FileList"
    :db="db">
  </FileList>

  <FilterController 
    ref="FilterController"
    :db="db">
  </FilterController>

  <TermsRelationshipNetwork 
    ref="TermsRelationshipNetwork"
    :db="db">
  </TermsRelationshipNetwork>
  
	<ClustersList 
		ref="ClustersList"
		:db="db">
	</ClustersList>

  <TagList 
    ref="TagList"
    :db="db">
  </TagList>

  <ScoreList 
    ref="ScoreList"
    :db="db">
  </ScoreList>

  <!-- ======================================= -->

  <DropZone 
    ref="DropZone"
    :db="db">
  </DropZone>

  <DataFileManager 
    ref="DataFileManager"
    :db="db">
  </DataFileManager>

</div>