<form class="ui form">

  <div class="ui grid input-label">
    <div class="eight wide column">
      <label for="input">
        Input
      </label>
    </div>
    <div class="eight wide right aligned column">
      <div class="ui mini button"
        @click="setExample">
        example
      </div>
    </div>
  </div>
  <div class="ui field">  
    <textarea id="input"
      v-model="input"></textarea>
  </div>

  <div class="ui equal width grid">
    <div class="column">
      <div class="ui checkbox">
        <input type="checkbox" v-model="splitorSpace" />
        <label for="splitorSpace">空格</label>
      </div>
    </div>

    <div class="column">
      <div class="ui checkbox">
        <input type="checkbox" v-model="splitorSlash" />
        <label for="splitorSlash">線</label>
      </div>
    </div>

    <div class="column">
      <div class="ui checkbox">
        <input type="checkbox" v-model="splitorColon" />
        <label for="splitorColon">冒號, 分號, 逗號</label>
      </div>
    </div>
  </div>

  <div class="ui fluid position button"
    :class="{disabled: (this.input.trim() === '')}"
    @click="analysisDiscuss">Analysis</div>

  <div id="jqcloud"></div>

  <table class="ui unstackable celled table" v-if="resultRows.length > 0">
    <thead>
      <tr>
        <th>Term</th>
        <th>Count</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="row in resultRows"
          :id="'term_' + row.term">
        <td data-label="Term">{{ row.term }}</td>
        <td data-label="Count">{{ row.count }}</td>
      </tr>
    </tbody>
  </table>
  
</form>