
<div class="NavigationBar">
  <div class="ui top fixed menu"
    :class="computedNavigationBarClasses">
    <div class="item">
      <img src="./favicon.png" />
    </div>
    <a class="item" href="#FileList">
      {{ $t('Files') }}
    </a>
    <a class="item" href="#Input">
      {{ $t('Input') }}
    </a>
    <a class="item" href="#Cloud">
      {{ $t('Cloud') }}
    </a>
    <a class="item" href="#CountList">
      {{ $t('Count') }}
    </a>
  </div>
  <div class="menu-padding"></div>
</div>
