
<div class="NavigationBar">
  <div class="ui top fixed menu"
    :class="computedNavigationBarClasses">
    <div class="item">
      <img src="./favicon.png" />
    </div>
    <a class="item" @click="focus('FileList')">
      {{ $t('Files') }}
    </a>
    <a class="item" @click="focus('Input')">
      {{ $t('Input') }}
    </a>
    <a class="item" @click="focus('Cloud')"
      v-if="db.config.resultRows.length > 0">
      {{ $t('Cloud') }}
    </a>
    <a class="item" @click="focus('CountList')"
      v-if="db.config.resultRows.length > 0">
      {{ $t('Count') }}
    </a>
  </div>
  <div class="menu-padding"></div>
</div>
